.TextInput {
  margin-top: 20px;

  div:nth-child(1) {
    font-weight: bold;
  }

  div:nth-child(2) {
    width: 100%;
    position: relative;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    border-radius: 3px;

    input {
      border-radius: 3px;
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }
}
